# uv / venv
.venv/

# Environment / secrets
.env
.env.local

# Editors / OS
.vscode/
.idea/
.DS_Store

# LaTeX build output
report/build/

# LaTeX build output
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz